{% extends "base.html" %}

{% load static %}

<title>
{% block title %} Crypto App - Главная{% endblock %}
</title>
{% block css %}<link type="text/css" href="{% static "crypto/css/style.css" %}" rel="stylesheet"/>{% endblock %}
</head>
{% block content %}
<body>


<div class="container">
  <h1>Добро пожаловать в Crypto App</h1>
  <p>Платформа для учета криптоактивов и прогнозирования их курса на основе ИИ.</p>

  <h2>Функции платформы</h2>
  <ul>
    <li>Учет и расчет средней стоимости ваших криптовалют.</li>
    <li>Автоматический анализ новостей с помощью модели ChatGPT.</li>
    <li>Прогноз движения активов на неделю, месяц и полгода.</li>
  </ul>
  {% if not user.is_authenticated %}
  <h2>Начните прямо сейчас</h2>
  <p><a href="/register">Создайте аккаунт,</a> или <a href="/login">войдите,</a> добавьте свои активы и получайте прогнозы!</p>
  {% else %}
  <h2>Перейдите в <a href="/assets">мои активы</a></h2>
  <h2>Или взгляните на <a href="/forecast">прогноз цены</a></h2>
  {% endif %}
</div>

</body>
{% endblock %}